.body{
    margin:0;
    background-color:teal;
}

.kopfzeile{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas:
    'logo1 profile-picture';
}

.logo1{
    grid-area:logo1;
    width:100%;
}

.return{
    background-color:teal;
    border:none;
    padding-top:8%;
    padding-bottom:8%;
    width:10%;
    @include center;
    transition:.6s;
    overflow:hidden;
    &:focus{
        outline:0;
    }
    &:before{
        content:'';
        display:block;
        position:absolute;
        background:teal;
        opacity:.5;
        filter:blur(30px);
        transform:translateX(-100px)  skewX(-15deg);
    }
    &:after{
        content:'';
        display:block;
        position:absolute;
        background:wheat;
        opacity:0;
        filter:blur(5px);
        transform:translateX(-100px) skewX(-15deg);
    }
    &:hover{
        background:wheat;
        cursor:pointer;
        &:before{
            transform:translateX(300px)  skewX(-15deg);  
            opacity:0.6;
            transition:.7s;
        }
        &:after{
            transform:translateX(300px) skewX(-15deg);  
            opacity:1;
            transition:.7s;
        }
    }
}

.profile-picture{
    width:30%;
    margin:0;
    padding-left:70%;
}

.alltext{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    background-color:wheat;
    border:none;
}

.shortstory1-image{
    width:45vw;
    position:center;
    padding-top:5%;
}

.shortstory2-image{
    width:45vw;
    position:center;
    padding-top:5%;
}

.shortstory3-image{
    width:45vw;
    position:center;
    padding-top:5%;
}

h1{
    grid-area:short-stories;
    color:palevioletred;
    font-size:2rem;
    font-weight:bold;
}

h2{
    grid-area:book-projects;
    color:palevioletred;
    font-size:2rem;
    font-weight:bold;
}

button{
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:teal;
    background-color:wheat;
    font-size:100%;
    width:60%;
    position:center;
    border:none;
}

@media screen and (min-width: 992px) {
   .kopfzeile{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr;
        grid-template-areas:
        'logo1 profile-picture';
    }
    
    .logo1{
        grid-area:logo1;
        width:100%;
    }
    
    .return{
        background-color:teal;
        position:relative;
        @include center;
        transition:.6s;
        overflow:hidden;
        &:focus{
            outline:0;
        }
        &:before{
            content:'';
            display:block;
            position:absolute;
            background:teal;
            opacity:.5;
            filter:blur(30px);
            transform:translateX(-100px)  skewX(-15deg);
        }
        &:after{
            content:'';
            display:block;
            position:absolute;
            background:wheat;
            opacity:0;
            filter:blur(5px);
            transform:translateX(-100px) skewX(-15deg);
        }
        &:hover{
            background:wheat;
            cursor:pointer;
            &:before{
                transform:translateX(300px)  skewX(-15deg);  
                opacity:0.6;
                transition:.7s;
            }
            &:after{
                transform:translateX(300px) skewX(-15deg);  
                opacity:1;
                transition:.7s;
            }
        }
    }
    
    .profile-picture{
        grid-area:profile-picture;
        width:30%;
        padding-left:70%;
    }
    
    .alltext{
        display:flex;
        flex-direction:column;
        align-items:center;
        padding:20px;
        background-color:wheat;
        border:none;
    }

    .shortstory1-image{
        width:30vw;
        position:center;
        padding-top:10%;
    }

    .shortstory2-image{
        width:30vw;
        position:center;
        padding-top:10%;
    }

    .shortstory3-image{
        width:30vw;
        position:center;
        padding-top:10%;
    }

    h1{
        grid-area:short-stories;
        font-size:3rem;
    }
    
    h2{
        grid-area:book-projects;
        font-size:3rem;
    }

    button{
        width:30%;
        border:none;
    }
}