body{
    margin:0;
    background-color:teal;
}

header{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas:
    "links mitte rechts";
}

.profile-image{
    grid-area:links;
    z-index:1;
    width:5%;
    margin-right:90%;
    position:fixed;
}

h1{
    grid-area:links;
    font-size:2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:palevioletred;
    padding-top:2%;
    padding-bottom:2%;
    padding-left:0.5%;
}

h2{
    grid-area:links;
    font-size:1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:palevioletred;
    padding-top:2%;
    padding-bottom:10%;
    padding-left:40%;
}

.artist-introduction{
    grid-area:links;
    font-size:1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkslategrey;
    padding-top:2%;
    padding-bottom:2%;
    padding-left:1%;
}

.artist-description{
    grid-area:links;
    font-size:1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkslategrey;
    padding-top:2%;
    padding-bottom:2%;
    padding-left:1%;
}
.website-rubriken{
    grid-area:rechts;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#333;
    color:white;
}

.website-rubriken a{
    display:block;
    padding:15px;
    color:white;
    text-decoration:none;
}

.website-rubriken a:hover{
    background-color:#111;
}

.article-text{
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkslategrey;
    margin-top:10%;
    padding-left:10%;
    padding-right:15%;
    padding-top:0;
    padding-bottom:10%;
}

.block-sections{
    background-color:rgba(128, 128, 128, 0.219);
    padding-left:10%;
    padding-right:10%;
}

.ueberschriften-sections{
    font-size:3rem;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    padding-left:10%;
    padding-right:7%;
    padding-top:10%;
    padding-bottom:0;
}

.ueberschrift-section2{
    font-size:3rem;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    padding-left:7%;
    padding-right:15%;
    padding-top:10%;
    padding-bottom:0;
}

.letsplay{
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color:white;
    padding-left:7%;
    padding-right:5%;
}

.spielauswahl-optionen{
    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(37, 91, 93);
    padding-left:20%;
    padding-right:15%;
    list-style:none;
    text-align:center;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:space-between;
}

.centered{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    justify-content:space-between;
    padding-left:20%;
    padding-right:15%;
    margin-top:1%;
    margin-bottom:1%;
}

.auswahl-buttons{
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(37, 91, 93);
    font-size:100%;
    block-size:13%;
}

.spiele{
    display:flex;
    flex-direction:column;
    font-size:3rem;
    text-align:center;
    color:rgb(37, 91, 93);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10%;
    margin-bottom:10%;
    list-style:none;
}

.spielbeschreibungen{
    font-size:2rem;
    position:center;
    padding-left:15%;
    padding-right:15%;
}

.ueberschriften-spiele{
    font-weight:bold;
    font-style:italic;
}

.testen{
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(37, 91, 93);
    block-size:10%;
    font-size:50%;
    margin-bottom:20%;
    @include center;
    transition:.6s;
    overflow:hidden;
    &:focus{
        outline:0;
    }
    &:before{
        content:'';
        display:block;
        position:absolute;
        background:white;
        opacity:.5;
        filter:blur(30px);
        transform:translateX(-100px)  skewX(-15deg);
    }
    &:after{
        content:'';
        display:block;
        position:absolute;
        background:rgba(128, 128, 128, 0.219);
        opacity:0;
        filter:blur(5px);
        transform:translateX(-100px) skewX(-15deg);
    }
    &:hover{
        background:rgba(128, 128, 128, 0.219);
        border-color:black;
        cursor:pointer;
        &:before{
            transform:translateX(300px)  skewX(-15deg);  
            opacity:0.6;
            transition:.7s;
        }
        &:after{
            transform:translateX(300px) skewX(-15deg);  
            opacity:1;
            transition:.7s;
        }
    }
}

.rueckblick-section{
    background-color:white;
    padding-top:5%;
    padding-bottom:5%;
}

.rueckblick{
    width:100%;
}

footer{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size:100%;
    padding:5%;
    position:center;
    width:80%;
}

@media screen and (min-width: 992px) {
    
    header{
        display:grid;
        grid-template-columns:1fr 5fr;
        grid-template-rows:2fr;
        grid-template-areas:
        "links mitte mitte mitte mitte mitte"
        "rechts rechts rechts rechts rechts rechts";
    }

    .logo1{
        grid-area:links;
        width:13%;
        margin-top:1vh;
        position:fixed;
    }

    h1{
        grid-area:mitte;
        font-size:3rem;
        padding-top:2%;
        padding-bottom:2%;
        padding-left:20%;
    }
    
    .nav-links{
        grid-area:rechts;
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content:space-between;
        background-color:#333;
        color:white;
    }
    
    .nav-links a{
        display:block;
        padding:15px;
        color:white;
        text-decoration:none;
    }
    
    .nav-links a:hover{
        background-color:#111;
    }

    .ueberschriften-sections{
        padding-left:20%;
        padding-right:15%;
    }

    .ueberschrift-section2{
        padding-left:40%;
        padding-right:15%;
    }

    .article-text{
        padding-left:20%;
    }

    .letsplay{
        padding-left:40%;
        padding-right:15%;
    }

    .spielauswahl-optionen{
        padding-left:45%;
        padding-right:40%;
        list-style:none;
        text-align:center;
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
        justify-content:space-between;
    }

    .centered{
        padding-left:45%;
        padding-right:40%;
    }

    .spiele{
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-around;
        padding-right:25%;
        padding-left:30%;
    }

    .fotos-spiele{
        width:1000px;
    }

    .testen{
        font-size:80%;
    }

    footer{
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: space-between;
        width:80vw;
    }

    .logo2{
        z-index:1;
        width:30%;
    }
}